<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advocate's Diary</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        function addcase_event(){
            $("#Login").fadeOut();
            $("#AddCase").show();
        }
        function taskahead_event(){
            $("#Login").fadeOut();
            $("#TaskAhead").show();
        }
        function addclient_event(){
            $("#Login").fadeOut();
            $("#AddClient").show();
        }
    </script>
</head>
<body>
    <div id="Login">
        <table>
            <tr>
                <td>UserId</td>
                <td></td>
                <td><input type="email" name="emailid" id="emailid"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td></td>
                <td><input type="password" name="pwd" id="pwd"></td>
            </tr>
            <tr>
                <td><a href="signup">New User</a></td>
                <td></td>
                <td><a href="forgot_credentials">Forgot Credentials</a></td>
            </tr>
            <tr>
                <td><input type="button" value="Add Case" onclick="addcase_event()"></td>
                <td></td>
                <td><input type="button" value="Task Ahead" onclick="taskahead_event()"></td>
            </tr>
        </table>
        <input type="button" value="Add Client" onclick="addclient_event()">
    </div>
    <div id="AddCase" hidden>
        <h1>In Progress - Add Case</h1>
    </div>
    <div id="TaskAhead" hidden>
        <h1>In Progress - Task Ahead</h1>
    </div>
    <div id="AddClient" hidden>
        <form action="add_client" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ client_form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
</body>
</html>